html, body {
  height: auto;
  min-height: 100%;
}

html
{
    scroll-behavior: smooth;

    scroll-padding-top: 80px;
}

body {
    background: radial-gradient(circle at top, #4289CF 0%, #1a1a2e 50%);
}

#my-navbar {
    background-color: rgba(0, 0, 0, 0.45);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid grey;
}

.nav-item {
    font-size: 25px;
}